            *{
                margin: 0;
                padding: 0;
            }
            body{
                background: linear-gradient(135deg, #0d0d0d, #004040, #0d0d0d);
                height: 100vh;
                margin: 0;
                background-attachment: fixed;
            }
            .navbar{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%; 
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;
                background: rgba(0, 0, 0, 0.4);
                
            }
            .navbar img{
                width: clamp(50px, 10vw, 100px);
                height: auto;
                padding: 8px;
                margin-left: 50px;
                
            }
            .navbar ul{
                list-style: none;
                display: flex;
                margin-right: 90px;               
                padding: 0;
                gap: clamp(10px, 3vw, 40px);             
            }
           
            .navbar a{
                text-decoration: none;
                color: white;
                font-family: 'Quicksand', sans-serif;
                font-size: clamp(14px, 2vw, 20px);
            }

            .navbar li{
                padding: 8px 12px;
            }

            #content{
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: row-reverse;
                gap: 90px;
                margin-top: 160px;
            }

            #description{
                color: white;
                max-width: clamp(300px, 50%, 700px);
                margin: 150px 0px 0px 0px;
                font-family: 'Quicksand', sans-serif;                
                text-align: justify;
            }

            #description h1{
                font-size: clamp(32px, 5vw, 48px);
                margin-bottom: 20px;
                border-bottom: 4px solid #195f34;
                letter-spacing: 2px;
                text-align: left;
            }

            #description p{
                line-height: 1.5;
                font-size: clamp(16px, 2vw, 27px);                
            }

            #photo img{
                display: block;
                margin: 160px auto 20px auto;
                width: clamp(150px, 30vw, 270px);
                height: clamp(150px, 30vw, 270px);
                border-radius: 50%;
                border: 5px solid #3baa65;
                flex-shrink: 0;
            }

           @media (max-width: 768px){    
            .navbar li{
                padding: 8px 6px;
            }           
            #content{
                flex-direction: column;
                margin-top: 40px;
                gap: 20px;
                text-align: center;
            }
            #description{
                margin: 0px;
            }
           }

           @media (max-width: 600px){            
            .navbar ul{
                justify-content: center;                                
            }
            .navbar li{
                padding: 8px 3px;
            }
           }

           @media (max-width: 480px){
            .navbar img{
                display: none;
            }            
            .navbar ul{
                justify-content: center;
                padding-left: 10px;            
            }
            .navbar li{
                padding: 8px 3px;
            }
           }
           
           @media (min-width: 361px) and (max-width: 414px){
            .navbar img{
                display: none;
            }
            .navbar ul{
                justify-content: center;
                padding-left: 10px;                
            }
            .navbar li{
                padding: 8px 4px;                
            }
           }

           @media (max-width: 360px){
            .navbar img{
                display: none;
            }
            .navbar ul{
                justify-content: center;
                padding-left: 10px;                
            }
            .navbar li{
                padding: 8px 2px;                
            }
           }



